body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
  }
  #app {
    /* width: 40%;
    height: 70%; */
    width: 40%;
    /* height: 75%; */
    position: absolute;
    min-width: 300px;
    left: 27%;
    top: 13%;
    /* max-height: 500px; */
    /* background-color: burlywood; */
    border: 3px solid black;
  }
  #app h1 {
    /* margin: 0; */
    font-size: 2rem;
    font-weight: bold;
    color: white;
    text-align: center;
    background-color: black;
  }
  #display {
    
    font-size: 2rem;
    color: black;
    width: 99%;
    height: 20.5%;
    padding: 20px 0;
    margin-bottom: 2px;
    background-color: whitesmoke;
    border: 1px solid black;
  text-align: right;
  }
 .button{
  /* padding: 30px; */
  padding: 6.5px;
  width: 24.3%;
  font-size: 2rem;
  height:57px;
  border: 1px solid black;
  border-radius: 15px;
  cursor:pointer;
  background-color: #e9e9d6;
 }
.row{
   margin-top: 4px; 
    justify-content: space-between;
}
 
  .button:hover {
    background-color: rgb(247, 210, 166);
    box-shadow: 0 0 20px rgba(173, 159, 159,1);
  }
  
  .button-color {
    color: rgb(115, 173, 115);
    background-color: rgb(199, 93, 93);
  }
.flex{
    display: flex;
   }
   .ac-width{
    width: 49%;
   }